{% extends 'main/base.html' %}

{% block content %}
<div class="container">
  <header>
    <h1>Chat Box</h1>
    <div class="auth-buttons">
      {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <form action="{% url 'home' %}" method="post">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign up</a>
      {% endif %}
    </div>
  </header>
  <div class="chatbox">
    {% for message in recovery_messages %}
      <div class="message">
        <span class="sender">{{ message.user.username }}</span>
        <span class="text">{{ message.message }}</span>
        <span class="timestamp">
          {% if message.created_at|date:"Y-m-d" == date.today|date:"Y-m-d" %}
            {{ message.created_at|date:"H:i" }}
          {% else %}
            {{ message.created_at|date:"D d M Y H:i" }}
        {% endif %}
        </span>
      </div>
    {% empty %}
      <p>No messages yet.</p>
    {% endfor %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Send">
    </form>
  </div>
</div>
{% endblock %}